
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

@layer components {
  .th-theme {
    @apply w-48 px-4 py-1 text-center uppercase bg-white border border-black ;
  }
  .td-theme {
    @apply w-48 py-1 text-center uppercase bg-white border border-black ;
  }
  .btn-calendar {
    @apply flex items-center gap-2 p-2 text-white uppercase rounded-lg bg-cyan-800 hover:bg-cyan-900 ;
  }

  .modal-size{
    @apply md:w-modal md:h-modal bg-white rounded-3xl
  }
 
}