
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

@layer components {
  .th-theme {
    @apply border border-gray-700 bg-neutral-100 w-24 px-4 py-1 text-center ;
  }
  .td-open-theme {
    @apply  border  bg-emerald-700;
  }
  .td-close-theme{
    @apply  border bg-red-300 ;
  }
  .subtitle {
    @apply text-white text-sm;
  }
}