
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


a {
  color: inherit;
  text-decoration: none;
}


@layer components {
  .th-theme {
    @apply w-48 px-4 py-1 text-center uppercase bg-white border border-black ;
  }
  .td-theme {
    @apply w-48 py-1 text-center uppercase bg-white border border-black ;
  }
  .btn-calendar {
    @apply flex items-center gap-2 p-2 text-white uppercase rounded-lg bg-cyan-800 hover:bg-cyan-900 ;
  }

  .modal-size{
    @apply w-full md:w-modal h-[100%] md:h-modal bg-white md:rounded-3xl top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 fixed z-50 ;
  }

  .calendar-size{
    @apply flex justify-center  bg-white w-full  md:w-calendar min-h-calendar rounded-3xl drop-shadow-home overflow-x-scroll md:overflow-hidden
  }

    .card-admin{
      @apply h-[200px] w-[300px] rounded-xl bg-white text-2xl p-2 drop-shadow-home flex flex-col justify-between hover:bg-slate-200 ease-linear transition-all duration-100 cursor-pointer ;
    }

 
}